/* Estilos globais */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

/* forçando a altura ser 100% da tela */
html, body, #root{ 
  height: 100%
}

body {
  background: #f5f5f5;
}
/* normalmente o input e button não herdam as fontes */
body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}